[
 {:db/id #db/id[:db.part/db]
  :db/ident :test/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "UUID"
  :db.install/_attribute :db.part/db}
 ]
