[{:db/id #db/id[:db.part/db]
  :db/ident :transaction-test/one-value
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "A one-cardinality value that happens to be a UUID."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction-test/many-value
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/many
  :db/doc "A many-cardinality value that happens to be a UUID."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction-test/one-ref
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A one-cardinality value that is a ref"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction-test/many-ref
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "A many-cardinality value that is a ref"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction-test/one-ref-comp
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A one-cardinality value that is a ref"
  :db/isComponent true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction-test/many-ref-comp
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "A many-cardinality value that is a ref"
  :db/isComponent true
  :db.install/_attribute :db.part/db}

 ]
